* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  padding: 8% 5%;
}

.red-dot {
  height: 8px;
  width: 8px;
  background-color: hsl(1, 90%, 64%);
  border-radius: 50%;
  display: inline-block;
  margin-left: 8px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  margin-bottom: 5%;
}

.notif-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.notif-heading {
  font-size: 18px;
  font-weight: 800;
}

.notif-number {
  position: relative;
  bottom: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(219, 85%, 26%);
  margin-left: 5%;
  padding: 2% 6%;
  font-weight: 500;
  border-radius: 5px;
}

.notif-list,
.mark-btn {
  font-size: 13px;
}

.notif-list,
.mark-btn a {
  color: hsl(219, 12%, 42%);
}

.mark-btn a:hover {
  color: hsl(219, 85%, 26%);
}

.user-name,
.user-group {
  font-weight: bold;
}

.user-name {
  color: hsl(0, 0%, 0%);
}

.user-name:hover {
  color: hsl(219, 85%, 26%);
}

.user-group,
.user-post,
a {
  color: hsl(219, 85%, 26%);
}

.notif-tile {
  background-color: hsl(210, 60%, 98%);
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}

.notif-tile:hover {
  cursor: pointer;
}

.notif-content {
  display: flex;
  // justify-content: space-between;
}

.notif-time {
  display: block;
  color: hsl(219, 14%, 63%);
  margin-top: 1%;
}

.notif-img {
  width: 10%;
  margin-right: 5%;
}

.notif-img img {
  max-width: 2rem;
}

.posted-img {
  text-align: right;
}

.posted-img img {
  max-width: 70%;
  height: auto;
}

.notif-description {
  width: 90%;
}

.notif-description a:hover {
  font-weight: bold;
}

figure {
  background-color: hsl(0, 0%, 100%);
  padding: 8%;
  margin-top: 4%;
}

figure:hover {
  background-color: hsl(211, 68%, 94%);
}

/* -------- JS behavior ------------------------- */

.hidden {
  display: none;
}

/* ---------------------------------------------- */
/* QUERIES */
/* ---------------------------------------------- */

@media only screen and (min-width: 1300px) {
  .container {
    padding: 2% 2%;
    margin: 5% auto;
    max-width: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  }

  .notif-tile {
    padding: 2%;
    margin-bottom: 2%;
  }

  .notif-img {
    margin-right: 2%;
    width: 8%;
  }

  figure {
    padding: 2%;
  }
}

@media only screen and (min-width: 700px) {
  .notif-tile {
    padding: 2%;
    margin-bottom: 2%;
  }

  .notif-img {
    margin-right: 5%;
    width: 8%;
  }

  figure {
    padding: 2%;
  }
}
